#root {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
   font-family: "Poppins", sans-serif;
}
.blog-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 2%;
}
.blog-head {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  /* margin: 0;
  padding: 0; */
}
.cta-container {
  background-color: #fff3df;
  border-radius: 10px;
  display: flex!important;
  flex-direction: row;
}
.cta-row {
  justify-content: flex-start;
}
.cta-row button {
  padding: 15px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.cta-row button:active,
.cta-row button:hover {
  font-weight: 700;
  color: #000;
  border-bottom: 3px solid #ef9c00;
}
.blog-cards-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1%;
}
.blog-card {
  display: flex;
  flex-direction: column;
  width: 31.5%;
  text-align: left;
  padding: 0.9%;
  cursor: pointer;
}
.blog-meta {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.blod-desc{
  color: #232E52;
  font-size: 20px;
  font-weight: bold;
}
.blog-meta>span{
  font-family: "Inter";
  font-size: 12px;
  font-weight: bold;
  color: #707070;
}
.blog-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.outline-cta{
  color: #0086AD;
  padding: 8px 7px;
  border: 1px solid #0086AD;
  border-radius: 12px;
  margin: 1%;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.blog-link{
  color: black;
  text-decoration: none;
}
.card-link{
  display: inline;
}
.blogdetail-subhead{
  height: 270px;
  background-color: #FFF3DF;
  text-align: left;
}
.blog-text{
text-align: left;
/* max-width: 60%; */
}
.sidebar {
  transition: top 0.3s ease-in;
  position: relative;
}

.sidebar.sticky {
  position: fixed;
  top: 30%;
  transform: translateY(-50%); /* Vertically center */
  z-index: 9999999;
  width: 500px; /* optional, to keep the same layout */
}
.blog-title{
  font-size: 14px;
  font-weight: bold;
}

